# Flask==2.0.1
# numpy
# tensorflow==2.6.0  # Or PyTorch, depending on your model
# Pillow==8.3.1      # For image processing
Flask==2.0.1
numpy==1.23.5
tensorflow==2.17.0
Pillow==8.3.1
scikit-learn==0.24.2

