<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/pd.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Retina Disease</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm fixed-top">
      <img
        class="shape"
        src="{{ url_for('static', filename='images/logo_2-rmbgw.png') }}"
        width="60"
        height="60"
      />
      <p class="h">DRetina</p>

      <div class="ml-auto">
        <ul>
          <li>
            <a class="nav-link" href="{{ url_for('dbrt') }}" id="nav-item1"
              >Home</a
            >
          </li>
          <li>
            <a class="nav-link" href="{{ url_for('dr_stages') }}" id="nav-item2"
              >DR stages</a
            >
          </li>
          <li>
            <a
              class="nav-link"
              href="{{ url_for('predict_dr') }}"
              id="nav-item3"
              >Predict DR</a
            >
          </li>
          <li>
            <a class="nav-link" href="{{ url_for('care_tips') }}" id="nav-item4"
              >Care Tips</a
            >
          </li>
          <li>
            <a class="nav-link" href="{{ url_for('about_us') }}" id="nav-item5"
              >About us</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div>
      <img
        class="im"
        src="{{ url_for('static', filename='images/compressed_resized_image-1-800x508.jpg') }}"
        alt="Retina Image"
      />
      <div class="msg text-center">
        <h2>Upload an image of your Retina</h2>
        <p>Click on the submit button to know the RESULT</p>
        <form
          id="uploadForm"
          method="POST"
          action="{{ url_for('predict_dr') }}"
          enctype="multipart/form-data"
        >
          <div class="upload_wrappper">
            <div class="form-group">
              <input
                type="file"
                id="fileInput"
                name="file"
                accept="image/*"
                class="form-control-file"
                required
                onchange="previewImage(event)"
              />
              <small class="form-text text-muted"
                >Only images are allowed.</small
              >
              <p id="fileName" class="mt-2"></p>
            </div>
          </div>

          <div class="form-group preview-container">
            <!-- Image preview element -->
            <div class="form-group">
              <img
                id="imagePreview"
                src=""
                alt="Image Preview"
                style="
                  display: none;
                  max-width: 100%;
                  height: auto;
                  margin-top: 10px;
                "
              />
            </div>
          </div>
          <div class="form-group">
            <input
              type="submit"
              class="btn btn-primary button"
              value="Submit"
            />
          </div>
        </form>

        <script>
          function previewImage(event) {
            const file = event.target.files[0];
            if (file) {
              const reader = new FileReader();
              reader.onload = function (e) {
                const imagePreview = document.getElementById("imagePreview");
                imagePreview.src = e.target.result;
                imagePreview.style.display = "block";
              };
              reader.readAsDataURL(file);
            }
          }
        </script>
        {% if filename %}
        <div class="pic mt-5">
          <img
            src="{{ url_for('static', filename='uploads/' + filename) }}"
            alt="Uploaded Image"
            style="width: 300px; height: auto"
          />
          <p style="color: black">Image processed</p>
        </div>
        {% endif %}
        <!-- Result Section -->
        {% if result %}
        <div class="result-section mt-5">
          <h3>Prediction Result: {{ result }}</h3>
        </div>
        {% endif %}
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9g6L/6RYgW/jTwpEnANa2E5Ggj4eg/p/0fnwB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script>
      const fileInput = document.getElementById("fileInput");
      const fileNameDisplay = document.getElementById("fileName");

      fileInput.addEventListener("change", function () {
        if (fileInput.files.length > 0) {
          fileNameDisplay.textContent =
            "Selected file: " + fileInput.files[0].name;
        } else {
          fileNameDisplay.textContent = "";
        }
      });
    </script>
  </body>
</html>
